<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match your crush</title>
    <link rel="icon" type="image/x-icon" href="love.ico"/>
    <link href="styles.css" rel="stylesheet" />
</head>
<body>
    <!-- Background Video-->
    <div class="home-page-video">
    <video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"><source src="your.mp4" playbackRate="1.5x"/></video>
    <div class="text-over-video">
        <h1 class="fst-italic lh-1 mb-4">Fill in the names of your crushes</h1>
        <p class="mb-5">One of them is also crushing on you. Meet them this Valentines!</p>
        <button type="button" id="but">Let's Go!</button>
      </div>
    </div>
    <!-- <script src="index.js" charset="utf-8"></script> -->
</body>
</html>